/* Fonts */

@font-face {
    font-family: "Roboto Mono";
    src: url("./fonts/RobotoMono-VariableFont_wght.woff2")
        format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-VariableFont_wght.woff2")
        format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

/* General */

html,
body {
    height: 100%;
    max-height:100%;
    width: 100%;
    margin: 0;
    background-color: rgba(16, 11, 32, 1);
    font-family: "Manrope";
    font-weight: 400;
}

#about {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    letter-spacing:0.05em;

    color: rgba(255, 255, 255, 1);

    font-size: 16px;

    gap: 20px;
}
.about-item {
    max-width:300px;
    width:300px;
}

@media screen and (min-width: 800px) {
  #about {
    font-size: 18px;
  }
  .about-item {
      max-width:480px;
      width:480px;
  }
}

#title {
    font-size:1.25em;
}

.medweight {
    font-weight:550;
}

code {
    letter-spacing:0px;
    font-family: "Roboto Mono", monospace;
}

#about a {
    /*text-decoration:none;*/
    text-decoration-color:rgba(84, 151, 167, 1);
    text-decoration-thickness: 2px;
    color: rgba(255, 255, 255, 1);
}

#about a:hover {
    color: rgba(255, 255, 255, 0.8);
}

#contact {
    display: flex;
    align-items: center;
}

#mail-img {
    margin-top: 0.15em;
    height:0.8em;
    padding-right: 10px;
}
